.containerModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modalpop {
  position: relative;
  align-items: center;
  text-align: center;
  color: #000; 
  width: 24rem; 
  height: 24rem; 
  background-color: #fff; 
  border-radius: 30px;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.bottomButtons {
  position: absolute;
  bottom: 0;
  margin-bottom: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.leftButton,
.rightButton {
  padding: 10px;
  border: 2px solid; 
  border-radius: 20px;
  cursor: pointer; 
}

.leftButton {
  margin-left: 16px;
  color: red;
  border-color: red; 
}

.rightButton {
  margin-right: 16px;
  color: green;
  border-color: green; 
}
